* {
    box-sizing: border-box;
}


.heading {
    color: #666666;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: larger;
}
body {
        /* background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab); */
        background-color: silver;
        background-size: 400% 400%;
        animation: gradient 15s ease infinite;
        height: 100vh;
        text-align: center;
        /* display: flex; */
        justify-content: center;
        align-items: center;
        margin: 0px;
        padding: 0px;
}
.container-2 {
  margin-top: 20px;

}

#botton{
    margin: 10px;
    
}



a.btn.btn-primary{
    padding: 2px;
    border: 1px solid black;
    border-radius: 3px;
}


.pull-right{
    float: none;
    margin-bottom: 10px;
}

.counter {
  display: inline;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 10px;
}
.posts {
  clear: both;
  list-style: none;
  padding-left: 0;
  width: 100%;
  text-align: left;
}
.posts li {
  background-color: #fff;
  border: 1.5px solid #d8d8d8;
  border-radius: 10px;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  word-wrap: break-word;
  min-height: 42px;
  box-shadow:8px 8px 5px #888888;
}
.btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}

.form-group{
    text-align: center;
}

textarea{

    margin: 0 auto;

}



.nav {
    background-color: aliceblue;
    padding: 10px;
    border-radius: 8px;
    border: none;
}

.nav-item {
    margin: 30px;
    text-decoration: none;
}

#home::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: orange;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

#home {
    position: relative;
    color: #000;
    text-decoration: none;
}

#home:hover::before {
    transform: scaleX(1);
}

#home:hover {
    color: orange;

}


#about::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: green;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

#about {
    position: relative;
    color: #000;
    text-decoration: none;
}

#about:hover::before {
    transform: scaleX(1);
}

#about:hover {
    color: green;

}

#TESTIMONIALS::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: blue;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

#TESTIMONIALS {
    position: relative;
    color: #000;
    text-decoration: none;
}

#TESTIMONIALS:hover::before {
    transform: scaleX(1);
}

#TESTIMONIALS:hover {
    color: blue;

}

#Comment::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: red;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

#Comment {
    position: relative;
    color: #000;
    text-decoration: none;
}

#Comment:hover::before {
    transform: scaleX(1);
}

#Comment:hover {
    color: red;

}


#content::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: rebeccapurple;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

#content {
    position: relative;
    color: #000;
    text-decoration: none;
}

#content:hover::before {
    transform: scaleX(1);
}

#content:hover {
    color: rebeccapurple;

}


#cart::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: brown;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

#cart {
    position: relative;
    color: #000;
    text-decoration: none;
}

#cart:hover::before {
    transform: scaleX(1);
}

#cart:hover {
    color: brown;

}

.animate-charcter_1 {
    text-transform: uppercase;
    background-image: linear-gradient(-225deg,
            #ff0000 0%,
            #7a1010 29%,
            #13efff 67%,
            #fff800 100%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
    font-size: 50px;
}

@keyframes textclip {
    to {
        background-position: 200% center;
    }
}


.row{
    box-sizing: border-box;
}

.row:after {
    content: "";
    display: table;
    clear: both;
    }

    hr.style-eight {
        overflow: visible; /* For IE */
        padding: 0;
        border: none;
        border-top: medium double #333;
        color: #333;
        text-align: center;
    }
    hr.style-eight:after {
        content: "§";
        display: inline-block;
        position: relative;
        top: -0.7em;
        font-size: 1.5em;
        padding: 0 0.25em;
        background: white;
    }
    
    a {
        list-style-type: none;
    }
    
    
    #footer{
      text-align: left;
        padding : 5px;
        margin-left: 5px;
    }
    
    i{
        list-style-type: none;
    
    }
    
    #instagram:hover{
        background-color: pink;
    }
    
    
    #instagram{
        color: #000;
    
    }
    
    #telegram{
        color: #000;
    
    }
    
    #telegram:hover {
        background-color: skyblue;
    }
    
    
    
    #whatsapp{
        color: #000;
    }
    
    #whatsapp:hover{
        background-color: #13ff3a;
    }
    
    #youtube{
        color: #000;
    }
    
    #youtube:hover{
        background-color: red;
    }
    
    .address{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: azure;
        background-color: #000;
    }